    body {
        font-family: sans-serif;
    }
    
    .fab {
        position: fixed;
        bottom: 30px;
        right: 10%;
        .css-1nacmhh-MuiButtonBase-root-MuiFab-root {
            line-height: 0;
            letter-spacing: 0;
            text-transform: uppercase;
            min-height: 36px;
            background-color: #c68aff;
            display: flex;
            align-items: center;
            align-content: center;
        }
        .css-1nacmhh-MuiButtonBase-root-MuiFab-root:hover {
            background-color: #3c1f7b;
        }
    }