.box-todo {
    display: flex;
    max-width: 25.625rem;
    height: auto;
    justify-content: left;
    align-items: flex-start;
    background: #3C1F7B;
    border-radius: 8px;
    flex-direction: column;
    padding: 10px !important;
    margin-bottom: 10px !important;
    .css-11pbyhm-MuiSvgIcon-root {
        color: #fff;
        cursor: pointer;
    }
    .header {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .line {
        width: 100%;
        border: 1px solid #C68AFF;
        align-items: center;
        margin: 10px;
    }
    ul {
        margin-top: 10px !important;
        li {
            color: #fff;
            list-style-type: none;
            margin-bottom: 5px !important;
            >a {
                margin-left: 15px !important;
            }
        }
    }
    h3 {
        display: flex;
        margin: 10px 0px !important;
        color: #fff;
    }
}

.css-11pbyhm-MuiSvgIcon-root {
    color: #fff !important;
    cursor: pointer;
}